<div class="container">
  <div class="row">
		<h1 class="text-center">New invoice</h1>
    <div class="col-xs-12">
			<p>Each invoice amount is equally divided by the order product quantity and added to each produt as an additional cost per unit.</p>
			<%= render "invoices/form" %>      
    </div>
  </div>
</div>
