<h1>New invoice</h1>

<h3>Add an invoice</h3>
<p>Each invoice amount is equally divided by the order product quantity and added to each produt as an additional cost per unit.</p>
<%= render "invoices/form" %>