<%
  steps = [
    :parent_products,
    :products,
    :purchase_orders,
    :invoices,
    :inventories,
    :sales_orders,
    :stats,
    :purchase_order_drafts,
    :out_of_stock_ranges
    # :cogs
  ]

  labels = {
    parent_products: "Parent Products",
    products: "Products",
    purchase_orders: "Purchase Orders",
    invoices: "Invoices",
    inventories: "Inventories",
    sales_orders: "Sales Orders",
    stats: "Stats",
    purchase_order_drafts: "Purchase Order Drafts",
    out_of_stock_ranges: "Out of Stocks"
    # cogs: "COGS"
  }

  paths = {
    parent_products: parent_products_path,
    products: products_path,
    purchase_orders: orders_path,
    invoices: invoices_path,
    inventories: inventories_path,
    sales_orders: sales_order_lines_path,
    stats: stats_path,
    purchase_order_drafts: purchase_order_drafts_path,
    out_of_stock_ranges: out_of_stock_ranges_path
    # cogs: cogs_path
  }

  index = steps.index current
%>
<div class="cogs_sec_navbar">
	<% steps.each do |step| %>
		<a class="cogs_sec_navbar_item <%= "cogs_sec_navbar_item-current" if current == step %> " href=<%= paths[step] %>> <%= labels[step] %> </a>
  <% end %>
</div>
<!-- <div>
	<ul class="cogs_breadcrumb">
	  <li><%#= link_to "", root_path %></li>
	  <a href="/inventories">Inventories</a>
	  <li><%#= link_to "Inventories", inventories_path %></li>
	  <li class="active"><%#= request.env['PATH_INFO'] %></li>
	</ul>
</div> -->