<table class="table table-striped">
    <tr>
      <th>name</th>
      <th>qtty</th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.name, order_path(order) %></td>
        <td><%= order.qtty %></td>
      </tr>
    <% end %>
  </table>
