<%= render partial: "shared/subnavigation", locals: { current: :purchase_orders} %>

<div class="container">
  <h1>Purchase orders</h1>

  <div class="row">
    <div class="col-xs-6 cogs_box_wrapper">
      <div class="col-xs-12 cogs_box">
        <%= render "index_add_order" %>
      </div>
    </div>
    <div class="col-xs-6 cogs_box_wrapper">
      <div class="col-xs-12 cogs_box">
        <%= render "index_orders" %>
      </div>
    </div>
  </div>
</div>

