.color-brand{
	color: $brand-color;
}
.color-red,.color-false {
	color: $red;
}
.color-blue {
	color: $blue;
}
.color-yellow {
	color: $yellow;	
}
.color-orange,.color-danger {
	color: $orange;
}
.color-green,.color-true {
	color: $green;
}
.color-gray {
	color: $gray;
}
.color-grue {
	color: $grue;
}
