.cogs_invoice_tag_paid{
  color: white;
  font-style: bold;
  background-color: #689F38;
  border-radius: 3px;
  padding: 3px 6px;
}
.overdue{
  color: white;
  font-style: bold;
  background-color: #EF5350;
  border-radius: 3px;
  padding: 3px 6px;
}
.duewithin30{
  color: white;
  font-style: bold;
  background-color: #EF6C00;
  border-radius: 3px;
  padding: 3px 6px;
}
