<!-- <h3 class="">Add a product manually</h3>
<%#= simple_form_for @product, html: {class: "form-inline"} do |o| %>
  <%#= o.input :SKU, placeholder: "SKU", label: false, input_html: {style: "width: 150px"} %>
  <%#= o.input :name, placeholder: "Product Name", label: false, input_html: {style: "width: 200px", class: "test"} %>
  <%#= o.submit 'Add', class: "cogs_btn" %>
<%# end %>
 -->