<br><br><br><br><br>			
<h1>Sales Order Lines</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6">
			<h3 class="">Upload many Sales Order Lines (.csv file)</h3>

			<%= form_tag import_sales_order_lines_path, multipart: true do %>
			  <%= file_field_tag :file %> <br>
			  <%= submit_tag "Upload", class: "cogs_btn" %>
			<% end %>
    </div>
    <div class="col-xs-12 col-md-6">
			<h3>Uploaded Sales Order Lines:</h3>
			<h4>Date - qtty - SKU</h4>
			<% @sales_order_lines.each do |sol| %>
				<%= "#{sol.date.strftime '%Y-%b-%d' } - #{sol.qtty} - #{sol.SKU}" %> <br>
			<% end %>
			
    </div>
  </div>
</div>

